<div class="why-select-us">
    <div class="wrapper">
        <p class="sectionTitle">Why Select Us?</p>
        <p class="work__sub-text">We understand your requirement and provide quality works.</p>
        <div class="select__boxes">
            <div class="box">
                <div class="box__img">
                    <img src="img/icon-1.png" alt="#">
                    <p class="box__title">Business<br>Growth</p>
                </div>
                <div class="box__text">
                    <p>Success scrum project funding marketing seed money prototype innovator direct hackathon android
                        angel investor.</p>
                </div>
            </div>
            <div class="box">
                <div class="box__img">
                    <img src="img/icon-2.png" alt="#">
                    <p class="box__title">Unlimited<br>Revisions</p>
                </div>
                <div class="box__text">
                    <p>Technology founders churn rate niche market long tail release iteration burn rate backing. Churn
                    rate
                        accelerator.</p>
                </div>
            </div>
            <div class="box">
                <div class="box__img">
                    <img src="img/icon-3.png" alt="#">
                    <p class="box__title">Ultimate<br>Perfection</p>
                </div>
                <div class="box__text">
                    <p>Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer
                        partnership.</p>
                </div>
            </div>
            <div class="box">
                <div class="box__img">
                    <img src="img/icon-4.png" alt="#">
                    <p class="box__title">Smart<br>Experience</p>
                </div>
                <div class="box__text">
                    <p>Success scrum project funding marketing seed money prototype innovator direct hackathon android
                        angel investor.</p>
                </div>
            </div>
            <div class="box">
                <div class="box__img">
                    <img src="img/icon-5.png" alt="#">
                    <p class="box__title">Strict<br>Deadline</p>
                </div>
                <div class="box__text">
                    <p>Technology founders churn rate niche market long tail release iteration burn rate backing. Churn
                        rate accelerator.</p>
                </div>
            </div>
            <div class="box">
                <div class="box__img">
                    <img src="img/icon-6.png" alt="#">
                    <p class="box__title">Award-winning<br>Company</p>
                </div>
                <div class="box__text">
                    <p>Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer
                        partnership.</p>
                </div>
            </div>
        </div>
        <div class="sub-button">
            <div class="sub-button__text">
                <p>Start your journy with us now</p>
            </div>
            <div class="sub-button__btn">
                <button class="customBtn red">Get Started</button>
            </div>
        </div>
    </div>
</div>